<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/head'); %>
</head>
<body class="container">

<header>
    <%- include('../views/header'); %>
</header>

<main>
    <div class="container mt-3">
    <table id="test_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nome </th>
                <th>Data</th>
                <th>Rótulo</th>
                <!-- <th>Short Link</th> -->


                
                <!-- <th><i class="icon_cogs"></i> Action</th> -->
              
            </tr>
        </thead>
        <tbody id="ListSprint">
        <% list.forEach(function(id){ %>
            <tr>
                
                <td><a href=<%= id.shortUrl %> target="_blank"><%= id.name %></a></td>
                <td><%= id.due %></td>
                <td><%= id.labels %></td>
                <!-- <td><%= id.shortLink %></td> -->
                
              
                
                <!-- <td>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="/tarefas?cardid=<%= id.shortLink %>">Listar</a>
                    </div>
              </td> -->
                
                
                
                
            </tr>
        <% }); %>
        </tbody>    
      </table>

      <button id="generate-excel" class="btn btn-success">
        Generate Excel</button>
      <br /><br />

                  
    </div>
</main>

<footer>
    <%- include('../views/footer'); %>
</footer>

</body>
</html>
